
<!DOCTYPE html>
<html>
    <head>
        <title>Restaurants</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <header>
          <img src="/static/logo.png" alt="That place, the one with the...">
          <nav>
            <ul class="nav-bar">
              <li><a href="/">Home</a></li>
            {% if username %}
            
                <li><a href="/logout">Logout</a></li>
            
            {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            {% endif %}
            </ul>
          </nav>
          {% if username %}
            <span>Hi {{ username }}! </span>
          {% endif %}
        </header>
        {% block main %}
    
        {% endblock %}
    </body>
</html>