
<!DOCTYPE html>
<html>
    <head>
        <title>Restaurants</title>
        <style>
            form {
                margin-bottom: 20px;
            }
            form div {
                margin-bottom: 5px;
            }
        </style>
    </head>
    <body>
        <header>
          <h1>Restaurants</h1>
          {% if username %}
            Hi {{ username }}! <a href="/logout">Logout</a>
          {% else %}
            <a href="/login">Login</a>
          {% endif %}
        </header>
        {% block main %}
    
        {% endblock %}
    </body>
</html>