{% extends "base.html" %}

{% block main %}

<div class="form-container" id="edit-restaurant-container">
<h2 class="sign">Update Restaurant</h2>

<form action="/update_restaurant_action" method="POST">

    <!-- hidden -->
    <input type="hidden" class="input-field" name="id" value=" {{restaurant.id}}"> 

    
       
        <input id="restaurant_name" class="input-field" name="restaurant_name" value="{{restaurant.restaurant_name}}" placeholder="Restaurant Name">
    
    
      
        <input id="suburb" class="input-field" name="suburb" value="{{restaurant.suburb}}" placeholder="Suburb">
    
    
      
        <input id="city" class="input-field" name="city" value="{{restaurant.city}}" placeholder="City">
    
    
     
        <input id="favourite_menu_item" class="input-field" name="favourite_menu_item" value="{{restaurant.favourite_menu_item}}" placeholder="Favourite Menu Item">
    
    
     
        <input id="price_pp" class="input-field" name="price_pp" value="{{restaurant.price_pp}}" placeholder="Price per person">
    
    
       
        <input id="rating_out_of_five" class="input-field" name="rating_out_of_five" value="{{restaurant.rating_out_of_five}}" placeholder="Rating out of 5">
    
    
    <button class="submit-button" type="submit">Save</button>
</form>

</div>
{% endblock %}